// Place all the styles related to the api/categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// category index

.category-div {
  border: 1px solid #efefef;
  margin-top: 1%;
  width: 30%;
  height: 50%;
  display: flex;
  align-items: flex-end;
  background-color: #efefef;
  position: relative;
}

#view-product-button {
  height: 40px;
  width: 100%;
  margin-top: 5%;
  // border: 1px solid red;
}

.view-product-button-container {
  // margin-bottom: 5%;
  // width: 100%;
  // display: flex;
  // flex-direction: column;
  // justify-content: center;
  color: white;
  font-family: 'Montserrat';
  width: 50%;
  // border: 1px solid red;
  padding: 0;
  position: absolute;
  top: 75%;
  left: 50%;
  // right: 40%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.view-product-button-container > p {
  letter-spacing: 4px;
  font-size: 22px;
  // border: 1px solid red;
}

.categories > h4 {
  margin-bottom: 50px;
  /* background-color: red; */
  padding-top: 50px;
}
.category-index-div {
  // border: 1px solid red; 
  background-color: #efefef;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  // height: 1000px;
}

#category-name {
  margin-top: 300px;
  /* border: 1px solid red; */
  text-align: left;
  margin-left: 5%;
  font-family: 'Montserrat';
  color: white;
}

#category-item {
  // background-color: black;
  // border: 1px solid red;
  height: 75vh;
  overflow: hidden;
}

.filters {
  width: 5vw;
  // border: 1px solid red; 
  text-align: left;
  margin-left: 2%;
  font-family: "Nunito Sans";
}

.filters > h6 {
  font-size: 12pt;
  letter-spacing: 3px;
}

.filters li {
  /* list-style: none; */
  padding: 5px;
  font-size: 10pt;
  letter-spacing: normal;
  color: gray; 
}

.filters li:hover {
  color: black;
  cursor: pointer;
}

.selected-filter {
  list-style: square;
  color: black;
}

.non-selected-filter {
  list-style: none;
  color: gray;
}

#hoodies, #gear, #joggers, #shirts, #hats, #tanks {
  width: 100%;
  height: 100%;
  transition: 15s ease;
  // border: 1px solid red;
}

#hoodies:hover, #gear:hover, #joggers:hover, #shirts:hover, #hats:hover, #tanks:hover {
  transform: scale(1.5);
  transition: 15s ease;
}


