// Place all the styles related to the api/categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// category index

.category-div {
  border: 1px solid #efefef;
  margin-top: 1%;
  width: 30%;
  height: 50%;
  display: flex;
  align-items: flex-end;
  background-color: #efefef;
//   animation: load_content 0.5s;  
}

