.header-main {
  position: fixed;
  height: 20vh;
  width: 100vw;
  background-color: transparent;
  z-index: 1;
  transition: 0.5s ease;
}

.white-header {
  position: fixed;
  height: 20vh;
  width: 100vw;
  background-color: white;
  z-index: 1;
  transition: 0.5s ease;
}

.placement {
  height: 20vh;
}

.header-main:hover {
  background-color: white;
  transition: 0.5s ease;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.droplinks {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.droplinks > #link {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  font-size: 8pt;
  background-color: white;
}

.dropdown:hover .droplinks {
  display: block;
}

.dropbtn {
  text-decoration: none;
}

.droplinks > #link:hover {
  color: darkgrey;
}

#link {
  font-family: "Nunito Sans";
  text-decoration: none;
}

#user-icon {
  width: 40%;
  height: 40%;
  background-size: cover;
  background-repeat: no-repeat;
}

#user-icon:hover, #logo-icon:hover, #search-icon:hover, #cart-icon:hover {
  cursor: pointer;
}

#search-icon {
  width: 40%;
  height: 40%;
  background-size: cover;
  background-repeat: no-repeat;
}

#cart-icon {
  width: 40%;
  height: 40%;
  background-size: cover;
  background-repeat: no-repeat;
}

.icon-header {
  display: flex;
  justify-content: space-between;
  margin-right: 3%;
  margin-left: 3%;
}

.icons {
  width: 5%;
  display: flex;
  justify-content: space-around;
}

.icons > img {
  margin-right: 20%;
}

#user-icon, #search-icon {
  width: 20px;
}

#cart-icon {
  width: 18px;
}

.icon-header > p, .icons {
  margin-top: 1%;
  font-family: 'Montserrat';
  font-size: 9pt;
}

.nav-bar {
  font-family: 'Montserrat';
  margin-left: 25%;
  margin-right: 25%;
  text-align: center;
  display: flex;
  justify-content: space-around;
}

#nav-ele {
  height: 100%;
}
 

.nav-bar > a {
  letter-spacing: 2.4px;
  text-decoration: none;
  padding-bottom: 20px;
}

.nav-bar > a:hover {
  cursor: pointer;
}

a:visited {
  color: black;
}

.icon-header > h1 {
  font-family: 'Montserrat Subrayada', sans-serif;
  border-radius: 50%;
  border: 2px solid black;
  padding: 5px;
}

.icon-header > h1:hover {
  cursor: pointer;
}

.link:visited {
  color: black;
}

.link {
  color: black
}






