.product-show-images-container {
    display: flex;
    justify-content: space-around;
    height: 100%;
    width: 100%;
}

.image-clicks{
    height: 100%;
    width: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main-product-image {
    height: 100%;
    width: 50%;
}

.image-click {
    height: 30%;
    width: 100%;
    list-style: none;
}

.selected-image {
    border: 1px solid black;
    height: 100%;
    width: 100%;
    list-style: none;
}
