// Place all the styles related to the api/products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.product-index-div {
  width: 90vw;
  background-color: #efefef;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.listing-description {
  letter-spacing: 2.4px;
  font-size: 12px;
  text-align: center;
}

.listing-description p{
    height: 20%;
    font-size: 12pt;
    font-family: 'Montserrat';
    letter-spacing: 2px;
}

.img-container {
    width: 100%;
    cursor: pointer;
    height: 85%;
}

.imagee {
    height: 100%;
    width: 100%;
    cursor: pointer;
}

#img:hover {
  cursor: pointer;
}

.product-div {
    width: 20%;
    height: 60vh;
    float: left;
    border: 1px solid #efefef;
    background-color: #efefef;
    margin-top: 5%;
}

.product-image {
    height: 80%;
    width: 20%;
    margin-left: 5%;
    margin-top: 10%;
}

.product-image-show-container {
    height: 100%;
    width: 70%;
}

.product-show-container {
    display: flex;
    justify-content: space-between;
    background-color: #efefef;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 5%;
    height: 50vh;
}

.product-form {
    width: 30%;
    height: 100%;
    font-family: 'Montserrat';
    letter-spacing: 3.5px;
    text-align: left;
}

.product-form > form > h4 {
    color: #6a6a6a;
}

.product-form > form {
    height: 100%;
}


input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type=number] {
    width: 30px;
    outline: none;
    border-top: 1px solid #ada7a7;
    border-bottom: 1px solid #ada7a7;
    border-left: 1px solid  #efefef;
    border-right: 1px solid  #efefef;
    background-color:  #efefef;
    font-size: 15pt;
    padding-left: 15px;
}

#product-stars {
    font-size: 10pt;
}


.increment-container {
    display: flex;
}

.increment-container > div {
    padding: 7px 15px;
    font-size: 15pt;
    border: 1px solid #ada7a7;
}

.increment {
    cursor: pointer;
}

#minus {
    border-top: 1px solid #ada7a7;
    border-left: 1px solid #ada7a7;
    border-bottom: 1px solid #ada7a7;
}

.sizes {
    display: flex;
}


.sizes > li {
    list-style: none;
    text-align: center;
    margin-right: 5%;
    padding: 5px;
    height: 15%;
    width: 15%;
    cursor: pointer;
}

.sizes-container > p, .quantity-container > p {
    letter-spacing: normal;
    font-size: 10pt;
    font-family: "Nunito Sans";
}

.selected {
    border: 1px solid black;
    background-color: black;
    color: white;
}

.non-selected {
    border: 1px solid rgb(196, 194, 194)
}

#product-description {
    letter-spacing: normal;
    font-size: 10pt;
    margin-top: 15%;
}

#add-to-cart-button {
  width: 100%;
  height: 40px;
  margin-top: 20px;
  outline: none;
}


.products {
  display: flex;
  margin-top: 5%;
}
