/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  margin: 0;
  background-color: #efefef;
}

.main {
  background-color: #efefef;
  height: 100vh;
  width: 100vw;
  text-align: center;
  border-top: 1px solid black;
  font-family: 'Nunito Sans';
}

.main > h1 {
  font-size: 20px;
  /* border: 1px solid green; */
  /* background-color: red; */
  /* font-family: 'Montserrat'; */
  /* margin-top: 50px; */
  margin-top: 0;
  padding-top: 50px;
  margin-bottom: 15px;
  letter-spacing: 4px;
}

.form-input {
  height: 45px;
  width: 400px;
  font-family: 'Montserrat';
  font-size: 14px;
  margin: 12px;
  padding-left: 10px;
}

#button, #add-to-cart-button, #checkout-button {
  background: linear-gradient(to right, black 50%, #efefef 50%);
  background-size: 200% 100%;
  background-position:right bottom;
  transition: all 1s ease;
}
#button:hover, #add-to-cart-button:hover, #checkout-button:hover {
  background-position: left bottom;
  transition: all 1s ease;
  color: white;
  cursor: pointer;
}

#demo-button {
  background: linear-gradient(to right, #efefef 50%, black 50%);
  background-size: 200% 100%;
  background-position:right bottom;
  transition: all 1s ease;
  color: white;
}

#demo-button:hover {
  background-position: left bottom;
  transition: all 1s ease;
  cursor: pointer;
  color: black;
}

#shop-now-button, #view-product-button {
  background: linear-gradient(to right, transparent 50%, #efefef 50%);
  background-size: 200% 100%;
  background-position:right bottom;
  transition: all 1s ease;
  letter-spacing: 3px;
}

#shop-now-button:hover, #view-product-button:hover {
  background-position: left bottom;
  transition: all 1s ease;
  color: white;
  cursor: pointer;
}

.categories, .products {
  /* padding-top: 50px; */
  border: 1px solid #efefef;
  /* width: 100%; */
  background-color: #efefef;
  font-family: 'Montserrat';
  text-align: center;
  letter-spacing: 4px;
  /* margin-top: 0px; */
}

#splash-pic {
  height: 50vh;
  width: 100vw;
}

.listing-description {
  /* border: 1px solid red; */
  letter-spacing: 2.4px;
  font-size: 12px;
  text-align: center;
}

.home-pic {
  /* height: 100vh;
  width: 100vw; */
  width: 100vw;
  height: 100vh;
}

.home-container {
  position: relative;
}

#shop-now-button {
  margin: 50px;
  width: 25%;
  /* border: 1px solid white; */
  position: absolute;
  top: 50%;
  left: 45%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.social-container {
  /* border: 1px solid white; */
  position: absolute;
  bottom: 0;
  left: 10%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  width: 15%;
  display: flex;
  justify-content: space-around;
}

#linked-in-logo {
  height: 64px;
}

.errors {
  color: red;
}



